<ion-header>
  <ion-toolbar>
    <!-- Title of the page -->
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- here's the main card, binding all the data to usit in the typeScript -->
  <ion-card>
    <ion-item>

      <ion-icon name="shapes-outline"slot="start"></ion-icon>
      <ion-label>Tarea</ion-label>
        <ion-textarea class="ion-margin-start" [(ngModel)]="taskName"  placeholder="Escribe la tarea aqui." ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-icon name="trophy-outline"slot="start"></ion-icon>
      <ion-label>Prioridad</ion-label>
      <ion-select [(ngModel)]="taskPriority">
        <ion-select-option value="Low"><ion-icon name="add"></ion-icon>Baja</ion-select-option>
        <ion-select-option value="Middle">Media</ion-select-option>
        <ion-select-option value="High">Alta</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Here is a modal, where i open the calendar -->
    <ion-item id="open-modal" button >
      <ion-icon name="calendar-outline"slot="start"></ion-icon>
      <ion-label >Vencimiento </ion-label>
      <ion-text slot="end">{{formattedString}} </ion-text>


    </ion-item>
    <ion-popover trigger="open-modal" showBackdrop="false" >
      <ng-template>
          <ion-datetime #popoverdateTime [(ngModel)]="taskDate"  (ionChange)="dateChanged(popoverdateTime.value)"
          showDefaultButtons="true">
          </ion-datetime>
      </ng-template>
    </ion-popover>


    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Categoria</ion-label>
      <span> {{taskCategory}} </span>
    </ion-item>

    <ion-item>
      <ion-chip *ngFor="let category of categories; let i = index" (click)="selectedCategory(i)" >
         <ion-label> {{category}} </ion-label>
      </ion-chip>
    </ion-item>


    <ion-button class="ion-margin" expand="block" (click)="addTask()">Agregar Tarea</ion-button>



  </ion-card>
</ion-content>
